<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="uTube" />
    <meta property="og:image" content="<%= image_url('portfolio-youtube-preview.gif') %>" />
    <meta property="og:description" content="uTube is a YouTube clone, where logged-in users can upload videos as well as like, dislike, and comment on other videos within the uTube community. All users regardless of being logged in will be able to play back and search for videos." />
    <meta property="og:url" content="https://youtube-aa.herokuapp.com/" />
    
    <title>YouTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/6f99c937fd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <% if current_user %>
    
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'nickname': "<%= current_user.nickname %>",
          'email': "<%= current_user.email %>"
        }; 
      </script>
    <% end %>

    <script type="text/javascript">
      window.logo = "<%= image_url('google-logo.png') %>";
    </script>
    <script type="text/javascript">
      window.auth = "<%= image_url('google-auth-logo.png') %>";
    </script>
    <script type="text/javascript">
      window.auth2 = "<%= image_url('google-auth-logo-2.png') %>";
    </script>
    <script type="text/javascript">
      window.videothumbnail = "<%= image_url('video_thumbnail.png') %>";
    </script>
    <script type="text/javascript">
      window.playimage = "<%= image_url('play_image.png') %>";
    </script>
    <script type="text/javascript">
      window.videoplayer = "<%= image_url('video_player.png') %>";
    </script>

    <%= favicon_link_tag asset_path('youtubeicon.png') %>

    

  </head>

  <body>
    <%= yield %>
  </body>
</html>

